numpy
pandas
scikit-learn
xgboost
matplotlib
seaborn
jupyter
ipykernel

mlflow

pytest
pytest-cov

python-dotenv
pydantic
pyyaml

fastapi
uvicorn

httpx

faiss-cpu
sentence-transformers

openai

structlog
opentelemetry-api
opentelemetry-sdk

ruff